<div id="chat">
	<div class="chat-content">
		<div class="chat-title-content">
			<div class="chat-title">
			<div class="no-loged-title">
				Hola <span>{{nameuser}}</span>
			</div>
			<div class="logeado hidden">
				<span><i class="ion-person"></i></span> <span id="nombreLocal"></span>
				<span class="success-visible">
					<small class="text-success">Datos guardados</small>
				</span>
				<button type="button" class="btn btn-info btn-xs minimize" id="updateBtn">Editar</button>
			</div>
			</div>
		</div>
		<div class="chat-list-msg">
			<div class="no-logeado text-right">
				<form action="" id="savedata">
					<div class="form-group">
						<input type="text" class="form-control input-sm"  id="nombre" placeholder="Nombre">
					</div>
					<div class="form-group">
						<input type="color" class="form-control input-sm" id="color">
					</div>
					<button type="submit" class="btn btn-primary btn-sm" id="saveInfo">Guardar Datos</button>
				</form>
			</div>
			<div class="item-msg animated" ng-repeat="item in Messages | orderBy:'date':true">
				<strong style="color: {{item.color}}" class="pull-{{item.align}}"><i class="ion-person"></i> {{item.username}}</strong>
				<span class="clearfix"></span>
				<div class="item-msg-text">{{item.message}}</div>
			</div>
		</div>
		<div class="chat-write-msg">
			<div class="input-group">
		      <input type="text" class="form-control" placeholder="Message" ng-model="message">
		      <span class="input-group-btn">
		        <button class="btn btn-primary" type="button" ng-click="nuevoMsg()"><i class="ion-paper-airplane"></i></button>
		      </span>
		    </div>
		</div>
	</div>
</div>